.imagen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_principal {
    border: 3%;
    height: 80%;
    width: 85%;

    background-color: #25318e;
    border-radius: 8%;
    box-shadow: 10px 10px 35px #000000;
}

.container_segundario {
    height: 80%;
    width: 85%;
    color: #000000
}