/* Barra de navegacion */
.principal {
    background-color: #153a6c;
    color: white;
    /* position: fixed; */
    /* width: 100vw; */
    /*height: 60px !important;*/
}

/* other */
.nav_utb {

    /* position: fixed; */
    color: #153a6c;
}

.logo_utb {
    height: 60px;
}