/* Barra de navegacion */
.principal {
    background-color: #153a6c;
    color: white;
    /*height: 60px !important;*/
}

/* other */
.nav_utb {
    color: #153a6c;
}

.logo_utb {
    height: 60px;
}