/* Barra de navegacion */
.principal{
    background-color: #153a6c;
    color:white;
}
.lu{
    padding: auto;
    
}

/* other*/
.nav-utb{
    color: #153a6c;
}
  
#color-text{
    color: #fdf4f4;
    /* font-size: 30px; */
}
  
#logo-utb{
    height: 60px;
}
  
#Personas-inicio{
    height: calc(100vh - 86px);
    width: calc(100vw - 15px);
    object-fit: cover;
    /* width: 100vw; */
}
  
#contenido-1{
    min-height: 90vh;
    font-size: 33px;
    color: #6b5c7a;
}
  